

body {
  margin: 0;
  
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #212529;
  background-image: url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJvcGljYWwlMjBsZWF2ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#sign-in-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

#sign-in {
  width: 90%;
  margin: 0 auto;
  
}

.form-label{
  font-weight: 700;
}

input.sign-in-submit {
  border-radius: 60px;
  background-color: #8AC76D;
  padding: 8px 40px; 
  border: none;
  color: #000;
  font-size: 22px;
}

input.sign-in-submit:hover {
  color: #F3F5EF;
}

#account-register {
  border-radius: 60px;
  background-color: #8AC76D;
  padding: 8px 20px; 
  border: none;
  color: #000;
  font-size: 18px;
}
#account-register:hover {
  color: #F3F5EF;
}

.register-form {
  width: 90%;
  margin: 0 auto;
}

.register-col p {
  font-size: 24px;
  font-weight: 500;
}
.register-col a {
  font-size: 16px;
  text-decoration: none;
  color: inherit; 
} 
.register-col a .login {
  font-size: 18px;
}

.navbar {
  padding: 10px 25px;
  background-color: #a8c69f;
  color: #F3F5EF;
  font-size: 18px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar a:hover {
  color: #000;
}

.navbar p {
  margin-bottom: .5rem;
}

#mollify {
  color: #FFFFFF;
  /* font-weight: bold; */
  font-size: 64px;
  font-family: 'Fira Code', monospace;
}
#LandingPage {
  padding-top: 40px;
  background-color: #D5E4C0;
}

.create-btn{
  display: flex;
  justify-content: space-evenly;
}

#taskCards {
  margin-top: 65px;
}
#taskCards ul {
 padding-left: 0;
}

#taskDetail {
  margin-top: 65px;
  padding-left: 110px;

}

#taskDetail h4{
  text-align: center;
}

/* .start-date, .apply-date {
  text-align: center;
} */

.user {
  display: flex;
  justify-content: flex-end;
} 
.icon {
  display: flex;
  justify-content: flex-end;
}
.logout {
  display: flex;
  justify-content: flex-end;
}

#calendar {
  font-weight: bold;
}

#menuLand {
  margin: 0;
} 

#createbtn {
  background-color: #8AC76D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border:none;
  color: #000;
}
#createbtn:hover {
  background-color: #a4e386;
  color: #F3F5EF;
}

#updateCard, #createCard {
  background-color: #8AC76D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border: none;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.06em;
}
#updateCard:hover, #createCard:hover {
background-color: #a4e386;
  color: #F3F5EF;
}

#menu {
  background-color: #a8c69f;
  padding-top: 10px;
  height: 80vh;
  text-align: right;
  margin-top: 35px; 

  margin-right: 15px;
  color:#F3F5EF; 
}
#menu a{
  color: F3F5EF !important;
  }

.menuTitle {
  text-align: center;
}

#taskFilterBtn {
  justify-content: center;
  margin-top: 25px;
}

#menubar1 {
  justify-content: flex-end;
  height: 48.67px;
  color: #F3F5EF;
}

#menubar1 a.active {
  background: #a8c69f;
  border: 2px solid #e9f2d7;
  color: #F3F5EF;
}

#LandingPageBody {
  margin-top: 30px;
}

.detailBox {
  background-color: #F3F5EF;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
}
.newTask {
  margin-bottom: 10px;
}

.updateCardBtn {
  background-color: #8AC76D;
  color: #000;
  border:none;
  border-radius: 28px;
}
.updateCardBtn:hover {
  background-color: #9bdb7d;
  color:#F3F5EF;
}
#deleteCard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-size: 18px;
  letter-spacing: 0.06em;
}

#row {
  flex-grow: 1;
  justify-content: center;
}

ul {
  list-style-type:none;
}

#tasktiles {
  background: #F3F5EF;
  border: none;
  box-sizing: border-box;
  /* box-shadow: 0px 6px 0px black; */
  border-radius: 16px;
  height: 102px;
  width: 294px;
}

#taskDetail .form-control {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  background-color: #F3F5EF;
}
.fieldbkg {
  background-color: #F3F5EF;
}